extends ../layout/index
block contenido
    //-pre=JSON.stringify(usuario, null, 2)
    h1.text-4xl.font-black.text-center.m-10 Mi Perfil
    .bg-white.shadow.md.px-8.pt-6.pb-8.mb-4.block
        p.text-lg.font-bold.text-center Datos del Usuario
        p.text-center Nombre: #{usuario.NOMBRE}
        p.text-center Email: #{usuario.EMAIL}
        p.text-center Clave: #{cliente.CLAVE_CLIENTE}
